*{margin:0px;padding:0px;}
body{background-image: url(images/bg.jpg);background-attachment:fixed;background-repeat: no-repeat; font-family: "微软雅黑";}
.login{height:30px;background-color: rgba(0, 0, 0, 0.72);}
.line{height:130px;margin: 0 auto;background-color:#F0F2F3;}
.top{width:100%;height:75px;background-color:rgba(23, 149, 239, 0.48);margin:0 auto;text-align: center;line-height: 75px;font-size: 24px;color:#fff;}
.t_navigation{height: 200px;margin: 0 auto;margin-left:200px;}
#topmenu{background:#f00;min-height:3.857143em;}


img{border:0;}
ul,li{list-style-type:none;}
a {color:#00007F;text-decoration:none;}
a:hover {color:#bd0a01;text-decoration:underline;}
.treebox{ width: 200px; height:100%;background-color:#1a6cb9;margin-top:-55px; }
.menu{ overflow: hidden; border-color: #ddd; border-style: solid ; border-width: 0 1px 1px ; }
/*第一层*/
.menu li.level1>a{ display:block;height: 45px;line-height: 45px;color: #fff;padding-left: 50px;border-bottom: 1px solid #000; font-size: 16px;position: relative;transition:all .5s ease 0s;}
.menu li.level1 a:hover{ text-decoration: none;background-color:#326ea5;   }
.menu li.level1 a.current{ background: #0f4679; }





.ico1{ background-position: 0 0; }
.ico2{ background-position: 0 -20px; }
.ico3{ background-position: 0 -40px; }
.ico4{ background-position: 0 -60px; }
.ico5{ background-position: 0 -80px; }
.level1 i.down{ background-position: 0 -10px; }
/*第二层*/
.menu li ul{ overflow: hidden; }
.menu li ul.level2{ display: none;background: #0f4679;  }
.menu li ul.level2 li a{display: block;height: 45px;line-height: 45px;color: #fff;text-indent: 60px;/*border-bottom: 1px solid #ddd; */font-size: 14px;transition:all 1s ease 0s;}


.search{width:80%;height:60px;position:absolute;left:226px;top:192px;}
.content{width:85%;height:99%;position:absolute;top: 245px;left:200px;}
.content .online{width:1038px;margin-top: -100px;margin-left: 45px;border:1px solid #000 ;}