<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cityview.mapper.AqimonthMapper">

   <!-- 定义查询的sql片段，就是查询条件 -->
   <sql id="query_aqi_where">
   	<!-- 使用动态sql，通过if判断，满足条件进行sql拼接 -->
		<if test="cityname!=null and cityname!=''">
			aqimonth.cityname='${cityname}'
		</if>
   </sql>
  	
  	<!-- aqi月全量列表查询 -->
  	<!-- parameterType传入包装对象(包装了查询条件)
  		resultType建议使用扩展对象
  	 -->
  	<select id="findAqimonthList" parameterType="com.cityview.po.Aqimonth"
  		 resultType="com.cityview.po.Aqimonth">
  		SELECT aqimonth.* FROM aqimonth
  		<where>
  			<include refid="query_aqi_where"></include>
  		</where>
  	</select>
  	<insert id="insertAqimonthList" parameterType="com.cityview.po.Aqimonth">
  		INSERT INTO aqimonth(cityname,month,aqiurl,aqi,minaqi,maxaqi,grade,pm,pmo,so,co,no,o,create_time)
		VALUES('#{aqimonthCustom.cityname}','#{aqimonthCustom.month}','#{aqimonthCustom.aqiurl}','#{aqimonthCustom.aqi}','#{aqimonthCustom.minaqi}','#{aqimonthCustom.maxaqi}','#{aqimonthCustom.grade}',
			'#{aqimonthCustom.pm}','#{aqimonthCustom.pmo}','#{aqimonthCustom.so}','#{aqimonthCustom.co}','#{aqimonthCustom.no}','#{aqimonthCustom.o}',NOW());
  	</insert>
  	<update id="updateAqimonthList" parameterType="com.cityview.po.Aqimonth" >
  		
  	</update>
  	
</mapper>